<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">


    <title>User List</title>

    <style>
        body {
        <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        </tr>}
    </style>

</head>
<body>

<h1>User List</h1>
<div class="container">
    <h1>Создание/Удаление/Изменение данных пользователя</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Age</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user :${users}">
            <td th:text="${user.id}">Id</td>
            <td th:text="${user.age}">Age</td>
            <td th:text="${user.name}">Name</td>
            <td th:text="${user.surname}">Surname</td>
        </tr>
        <tbody>
    </table>
    <form method="post" action="/addUser">
        <label for="age_add">User Age</label>
        <input name="age" type="text" id="age_add">
        <br>
        <label for="name_add">User Name</label>
        <input name="name" type="text" id="name_add">
        <br>
        <label for="surname_add">User Surname</label>
        <input name="surname" type="text" id="surname_add">
        <br>
        <input type="submit" value="Add User">
    </form>

    <form method="post" action="/deleteUser">
        <label for="id_delete">User ID</label>
        <input name="id" type="text" id="id_delete">
        <br>
        <input type="submit" value="Delete User">
    </form>
    <form method="post" action="/updateUser">
        <label for="id_update">User ID</label>
        <input name="id" type="text" id="id_update">
        <br>
        <label for="age_update">User Age</label>
        <input name="age" type="text" id="age_update">

        <br>
        <label for="name_update">User Name</label>
        <input name="name" type="text" id="name_update">
        <br>
        <label for="surname_update">User Surname</label>
        <input name="surname" type="text" id="surname_update">
        <br>
        <input type="submit" value="Update User">
    </form>

</div>
</body>